<a href="https://colab.research.google.com/github/MDjunaidmgove/colab/blob/main/reprogram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

series1 = pd.Series([5, 10, 15, 20, 25], index=['a', 'b', 'c', 'd', 'e'])
print("Q1 & Q2 - Custom Series:\n", series1)

Q1 & Q2 - Custom Series:
 a     5
b    10
c    15
d    20
e    25
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
exam_data = {
    'name': ['manish', 'dhiraj', 'sneha'],
    'score': [88, 92, 95]
}
df = pd.DataFrame(exam_data)
df = df.rename(columns={'name': 'Name', 'score': 'Score'})
print("New DataFrame after renaming columns:")
print(df)

New DataFrame after renaming columns:
     Name  Score
0  manish     88
1  dhiraj     92
2   sneha     95

In [ ]:
import pandas as pd
import numpy as np
s1 = pd.Series([100, 200, 400])
s2 = pd.Series([10, 20, 40])
df = pd.concat([s1, s2], axis=1)
new_col = [1, 2, 3]
df.insert(loc=0, column='1', value=new_col)
print("\nNew DataFrame:")
print(df)

New DataFrame:
   1    0   1
0  1  100  10
1  2  200  20
2  3  400  40

In [ ]:
add = lambda x,y :x+y
print(add(5,3))

8

In [ ]:
square =lambda x:x**2
print (square(1800))

3240000

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

In [ ]:
square =lambda x:x**2
print (square(4))

16

In [ ]:
n =[1,2,3,4,5,6]
even =filter (lambda x:x%2==0,n)
print(list(even))

[2, 4, 6]

In [ ]:
a =[1,2,3,4]
b =map(lambda x:x*2,a)
print(list(b))

[2, 4, 6, 8]

In [ ]:
import pandas as pd
fruit_diet ={'apple':50,'banana':30,'cherry':20}
series =pd.Series(fruit_diet)
new_price =series*1.2
print(new_price)

apple     60.0
banana    36.0
cherry    24.0
dtype: float64

In [ ]:
import pandas as pd
number = pd.Series([1,2,3,4,5])
mean=number.mean()
std_dev=number.std()
print("mean:",mean)
print("standard deviation:",std_dev)

mean: 3.0
standard deviation: 1.5811388300841898

In [ ]:
import pandas as pd
subject1=pd.Series({'alice':80,'bob':75,'david':90})
subject2=pd.Series({'alice':85,'bob':90,'david':96})
total_marks=subject1.add(subject2)
print(total_marks)

alice    165
bob      165
david    186
dtype: int64

In [ ]:
multiply = lambda x, y, z: x + y * 2
print(multiply(8, 9, 10))

26

In [ ]:
n=[1,2,3,4,5,6]
even=filter(lambda x:x%2==0,n)
print(list(even))

[2, 4, 6]

In [ ]:
 numbers = [1,2,3,4,5]
 doubled = list(map(lambda x:x*2,numbers))
 print (doubled)

[2, 4, 6, 8, 10]

In [ ]:
numbers =[10,15,20,25,30]
odds = list(filter(lambda x:x%2!=0,numbers))
print (odds)

[15, 25]

In [ ]:
def make_multiplier(n):
  return lambda x :x * n

double = make_multiplier(2)
triple = make_multiplier(3)

print(double(5))
print(triple(5))

10
15

In [ ]:
import pandas as pd
import numpy as np
exam_data = {'Name': ['manish', 'dhiraj', 'man', 'dhir'],
             'score': [12.5, 91, 2.5, 9]}
df = pd.DataFrame(exam_data)
df = df[df.score >= 20]
print("New DataFrame")
print(df)

New DataFrame
     Name  score
1  dhiraj   91.0